<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="eng">
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css" />
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    
    <script type='text/javascript'>
      $(document).ready(function(){
        function get_results(action) {
          var search_text = ($('#searchbox').val());
          $.ajax({
            url: '{% url user_info_get_results %}',
            data: {'search_text': search_text, 'action': action },
            type: 'get',
            async: 'false',
            success: function(result) {
              if (result == 'empty_field'){
                $('#error').html('<div class="alert alert-warning">Please enter this field</div>');
                $('#search_results').html('');                
              } else if(result == 'error'){
                $('#error').html('<div class="alert alert-error"><strong>Sorry! </strong> No matches found. Please search another word </div>');             
                $('#search_results').html('');                                
              }else {
                $('#error').html('');
                $('#search_results').html(result);
              }
            },
          });
        }

        $('#id_all, #id_search').click(function(){
          get_results('search');
        });
        $('#id_paying').click(function(){
          get_results('paying');
        });
        $('#id_staffpick').click(function(){
          get_results('staff_pick');
        });
        $('#id_uploaded').click(function(){
          get_results('uploaded');
        });
      });    
    </script>
  </head>
<body>
  <div id="container">
    <div id="header"><center><h1>Vimeo User Details</h1></center></div>
    {% block content %}

    {% endblock %}
    <div id="footer">
      <center><h6>by</h6><h4>Anoop.S.M</h4></center>
   </div>
  </div>
</body>
</html> 
